@import '~normalize.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  column-gap: inherit;
}

html, body {
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(#fff, 0);
}

ol, ul {
  list-style: none;
}

input, a, textarea {
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, textarea {
  -webkit-appearance: none;

  &:invalid {
    box-shadow: none;
  }

  &::placeholder {
    color: currentColor;
    opacity: 1;
  }

  &:-webkit-autofill {
    background-clip: text;
  }
}

button {
  background-color: transparent;
  outline-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}
