@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.title,
.subtitle {
  grid-column: 1/-1;
  color: $color-dark;
}

.title {
  @include typo-h1;
  margin-bottom: $indent-32;
}

.subtitle {
  @include typo-h2;
  margin-bottom: $indent-24;
}