@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.page {
  padding-bottom: $indent-80;
}

.filter {
  margin: 0 calc($indent-64 * -1);
}

.sortSelect {
  grid-column: 1/-1;
  justify-self: flex-end;
  margin: $indent-32 0 $indent-16;


}

.list {
  margin-bottom: $indent-80;
}

.pagination {
  grid-column: 1/-1;
  justify-content: center;
}

.message {
  @include typo-h2;
  grid-column: 1/-1;
  text-align: center;
  margin: $indent-80 0;
}