@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.wrapper {
  grid-column: 1/-1;
  @include grid;
  gap: $indent-24;
}

.card {
  grid-column: span 3;

  @include screen-large-down {
    grid-column: span 4;
  }

  @include screen-medium-down {
    grid-column: span 6;
  }
}