@use '../mixins/media-query.scss' as *;
@use '../variables/indent.scss' as *;

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $indent-32;

  @include screen-small-down {
    grid-template-columns: repeat(6, 1fr);
  }
}